@page
@model GameOver

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <div>@(Model.Board.GetRow(0))</div>
    <div>@(Model.Board.GetRow(1))</div>
    <div>@(Model.Board.GetRow(2))</div>
    <div>@(Model.Winner)</div>
    <form method="post">
        <button type="submit">Играть снова?</button>
    </form>
</div>

</body>
</html>