@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Game)</title>
</head>
<body>
<div>
    <a asp-page="Game">Играть!</a>
</div>
</body>
</html>